.site-item {
    border: solid yellow;
    }

.main-navigation {
border: solid yellow;
}

.main-navigation-logo {
border: solid yellow;
}

.main-navigation-list {
border: solid yellow;
}

.user-navigation {
border: solid yellow;
}

.about-us-heading {
border: solid yellow;
}

.about-us-info {
border: solid yellow;
}

.priority-list-item {
border: solid yellow;
}

.painting-text {
border: solid yellow;
}

.painting {
border: solid yellow;
}

.main-footer {
border: solid yellow;
}

.footer-logo {
border: solid yellow;
}

.footer-info {
border: solid yellow;
}

.footer-links {
border: solid yellow;
}

.footer-whoweare {
border: solid yellow;
}

.footer-copyright {
border: solid yellow;
}

.footer-links-item {
    border: solid yellow;
}

.social-icon {
    border: solid yellow;
}

.soc-item {
    border: solid yellow;
}
